{%- comment -%} title {%- endcomment -%}
{%- if page.user_name -%}
    <title>Skinner Profile · {{page.user_name}}</title>
    <meta property="og:title" content="Skinner Profile · {{page.user_name}}">
{%- elsif page.skin_name -%}
    <title>{{ page.skin_name }} | compendium</title>
    <meta property="og:title" content="{{ page.skin_name }}">
{%- elsif page.contest_id -%}
    <title>{{ page.name }} | compendium</title>
    <meta property="og:title" content="{{ page.name }}">
{%- else -%}
    <title>{{ page.title | replace: "page", ""}}</title>
{%- endif -%}

{%- comment -%} description {%- endcomment -%}
{%- if page.skin_name -%}
    {%- assign formatted_res = page.resolutions | join: " · " | upcase -%}
    {%- assign ratios = "" | split: "," -%}
    {%- for ratio in page.ratios -%}
        {%- if ratio == "all" -%}
            {%- assign ratios = ratios | push : "all ratios" -%}
        {%- else -%}
            {%- assign ratios = ratios | push : ratio -%}
        {%- endif -%}
    {%- endfor -%}
    {%- assign auto_description = "" | split: "," | push: ratios | push: formatted_res | push: page.game_modes | push: page.tags | push: page.categories | join: " · " | replace: "_", " " -%}
    <meta name="description" content="{{ auto_description }}">
    <meta property="og:description" content="{{ auto_description }}">
{%- elsif page.user_name -%}
    <meta name="description" content="{{ page.user_name }}'s skinner profile">
    <meta property="og:description" content="{{ page.user_name }}'s skinner profile">
{%- elsif page.contest_id -%}
    <meta name="description" content="Overview of {{ page.name }}">
    <meta property="og:description" content="Overview of {{ page.name }}">
{%- elsif page.description -%}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
{%- else -%}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
{%- endif -%}

{%- comment -%} Open Graph exclusive meta tags {%- endcomment -%}

{%- comment -%} page type {%- endcomment -%}
{%- if page.skin_name or page.contest_id -%}
    <meta property="og:type" content="article">
{%- elsif page.user_name -%}
    <meta property="og:type" content="profile">
{%- else -%}
    <meta property="og:type" content="website">
{%- endif -%}

{%- comment -%} image {%- endcomment -%}
{%- if page.forum_thread_id -%}
    <meta property="og:image" content="{{ site.cover_path }}{{ page.forum_thread_id }}{{ site.cover_extension }}" >
{%- elsif page.user_name -%}
    <meta property="og:image" content="https://a.ppy.sh/{{page.user_id}}">
{%- elsif page.contest_id -%}
    <meta property="og:image" content="/assets/img/contest-banners/{{page.contest_id}}.webp">
{%- else -%}
    <meta property="og:image" content="/assets/img/embed_icon.png" >    
{%- endif -%}

{%- comment -%} site name {%- endcomment -%}
<meta property="og:site_name" content="compendium.skinship">

<!-- Other tags-->
{%- if page.skin_name -%}
    <meta name="twitter:card" content="summary_large_image">
{%- endif -%}