{%- comment -%}
props:
    - post: skin file
{%- endcomment -%}
<div class="skin-item">
    <div class="skin-item__cover">
        {%- if include.post.skin_collection.size > 1 -%}
            <div class="skin-item__cover-versions">
                {%- include icons/document-solid.svg -%}
                <span class="version-count">{{ include.post.skin_collection.size }}</span>
            </div>
        {%- endif -%}
        <img src="{{ site.cover_path }}{{ include.post.forum_thread_id }}{{ site.cover_extension }}" class="cover">
    </div>
    <div class="skin-item__information">
        <div class="skin-item__information-row">
            <span class="skin-name">{{ include.post.skin_name | truncate: 32}}</span>
            <div class="game-modes">
                {%- for game_mode in include.post.game_modes -%}
                    {%- include icons/{{ game_mode }}.svg -%}
                {%- endfor -%}
            </div>
        </div>
        <div class="skin-item__information-row">
            <span class="author">{{ include.post.author | concat_authors }}</span>
            <span class="information-seperator"></span>
            {%- for resolution in include.post.resolutions -%}
                <span class="resolution">{{ resolution | upcase }}</span>
            {%- endfor -%}
        </div>
    </div>
    <div class="skin-item__tags-list-container">
        {% include tags.html post=include.post %}
    </div>
    <a class="skin-item__link" href="{{ include.post.url }}"></a>
</div>