{% comment %}
props:
    - result_count: count of results shown
    - order: default sort order
{% endcomment %}


<div class="filters">
    <div class="search">
        <div class="icon-input-container search-text-field">
            <input id="search-input" placeholder="Search skins..." type="text">
            {%- include icons/search.svg -%}
        </div>
        {%- include icons/trash.svg -%}
        {%- include icons/chevron-down.svg -%}
    </div>
    <div class="filter-groups-container">
        <div class="filter-groups">
            <div class="filter-group filter-group--sort">
                <span class="filter-group__header">Order</span>
                <div class="filter-group__items icon-input-container icon-input-container--right-align">
                    <select class="filter-order-selector">
                        <option class="filter-sort-option" {% if include.order=="new-old" %}selected{% endif %} value="new-old">Release Date - New to Old</option>
                        <option class="filter-sort-option" {% if include.order=="old-new" %}selected{% endif %} value="old-new">Release Date - Old to New</option>
                        <option class="filter-sort-option" {% if include.order=="comp-new-old" %}selected{% endif %} value="comp-new-old">Added to Compendium - New to Old</option>
                        <option class="filter-sort-option" {% if include.order=="comp-old-new" %}selected{% endif %} value="comp-old-new">Added to Compendium - Old to New</option>
                        <option class="filter-sort-option" {% if include.order=="a-z" %}selected{% endif %} value="a-z">A to Z</option>
                        <option class="filter-sort-option" {% if include.order=="z-a" %}selected{% endif %} value="z-a">Z to A</option>
                        <option class="filter-sort-option" {% if include.order=="random" %}selected{% endif %} value="random">Random</option>
                    </select>
                    {%- include icons/chevron-down.svg -%}
                </div>
            </div>
            <div class="filter-group filter-group--results">
                <span class="filter-group__header">Matching Results</span>
                <div class="filter-group__items">
                    <span class="filter-results-count default">{{ include.result_count }} skins</span>
                    <span class="filter-results-count js hidden"></span>
                </div>
            </div>
            <div class="filter-group filter-group--ratios">
                <span class="filter-group__header">Aspect Ratios</span>
                <div class="filter-group__items filter-group__items--row">
                    <span class="filter-tag filter-tag--ratio" data-tag="4:3">4:3</span>
                    <span class="filter-tag filter-tag--ratio" data-tag="16:9">16:9</span>
                    <span class="filter-tag filter-tag--ratio" data-tag="16:10">16:10</span>
                    <span class="filter-tag filter-tag--ratio" data-tag="21:9">21:9</span>
                    <span class="filter-tag filter-tag--ratio" data-tag="all">All</span>
                </div>
            </div>
            <div class="filter-group filter-group--tags">
                <span class="filter-group__header">Categories</span>
                <div class="filter-group__items filter-group__items--row">
                    {%- assign sorted_categories = site.categories | sort -%}
                    {%- for category in sorted_categories -%}
                        <span class="filter-tag filter-tag--cat" data-tag="{{ category[0] | downcase }}">{{ category[0] | replace: "_", " " }}</span>
                    {%- endfor -%}
                </div>
            </div>
            <div class="filter-group filter-group--resolutions">
                <span class="filter-group__header">Resolutions</span>
                <div class="filter-group__items filter-group__items--row">
                    <span class="filter-tag filter-tag--resolution" data-tag="hd">HD</span>
                    <span class="filter-tag filter-tag--resolution" data-tag="sd">SD</span>
                </div>
            </div>
            <div class="filter-group filter-group--game-modes">
                <span class="filter-group__header">Game modes</span>
                <div class="filter-group__items">
                    {%- assign game_modes = "standard taiko catch mania" | split: " " -%}
                    {%- for game_mode in game_modes -%}
                        <div class="filter-game-mode" data-tag="{{ game_mode }}">
                            {%- include icons/{{ game_mode }}.svg -%}
                            <span class="mode">{{ game_mode }}</span>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
            <div class="filter-group filter-group--release-date">
                <span class="filter-group__header">Release Date</span>
                <div class="filter-group__items">
                    <input type="date" min="2008-01-01" name="date-after" id="date-after">
                    <span class="date-seperator">~</span>
                    <input type="date" min="2008-01-01" name="date-before" id="date-before">
                </div>
            </div>
        </div>
    </div>
</div>
