---
layout: master
title: Skinners' Bulletin | compendium
description: An overview over the Skinners' Bulletin and all skins featured in it
highlight: bulletin
---

<img alt="Skinners' Bulletin banner" class="banner banner--bulletin" src="/assets/img/bulletin-banner.webp">

<p>The Skinners' Bulletin is a monthly newspost series on the osu! newsfeed organised by the <a href="https://skinship.xyz">skinship staff</a>. It covers all the latest news related to skinning as well as show off the 3 best skins of the last month. The Bulletin used to be its own independant series and for its second iteration it has been moved into osu!monthly for an easier production. The osu!monthly production has since shut down putting the Bulletin into hiatus once again.</p>

{% assign bulletin_entries = site.data.bulletin | reverse %}
{% assign deleted_posts = "1381997" | split: "," %}

{% for entry in bulletin_entries %}
    <h2>
        {{ entry.name }}
        {% if entry.link %}
            <a class="bulletin__newspost-link" href="{{ entry.link }}" title="open newspost" target="_blank">
                {% include icons/external-link.svg %}
                <div class="bulletin__newspost-link-label-container">
                    <span>open newspost</span>
                </div>
            </a>
        {% endif %}
    </h1>

    {% if entry.notes %}
        <p>{{ entry.notes }}</p>
    {% endif %}

    <div class="skin-grid">
        {% for skin_id in entry.skins %}
            {% assign stringified_skin_id = "" | append: skin_id %}
            {% assign skin_entry = site.posts | find: "forum_thread_id", skin_id %}
            {% if skin_entry != nil %}
                {% include skin-item.html post=skin_entry %}
            {% elsif deleted_posts contains stringified_skin_id %}
                <div class="skin-item skin-item--deleted">This skin has been removed at the request of its author.</div>
            {% else %}
                {{ skin_id }}
            {% endif %}
        {% endfor %}
    </div>
{% endfor %}