---
layout: master
title: data overview | osu skins! compendium
---

{%- assign chunked_posts = "" | split: "," -%}
{%- assign current_chunk ="" | split: "," -%}


{%- for post in site.posts -%}

    {%- assign current_chunk = current_chunk | push: post -%}
    {%- assign multiple_of_chunksize = forloop.index | modulo: site.pagination.per_page -%}
    {%- if multiple_of_chunksize == 0 or forloop.last -%}
        {%- assign chunked_posts = chunked_posts | push: current_chunk -%}
        {%- assign current_chunk = "" | split: "," -%}
    {%- endif -%}

{%- endfor -%}

<script src={{ "/assets/scripts/data-overview.js" | timestamp }} type="text/javascript"></script>

<div class="column-select">
    <span class="column-select__heading">Select Columns</span>
    {% assign columns = "name screenshots categories tags key-tags resolutions aspect-ratio game-modes host" | split: " " %}
    {% for column in columns %}
        {% include column-select-label.html label=column %}
    {% endfor %}
    <span class="column-select__heading">Hide Skins with no warnings?</span>
    {% include column-select-label.html label="show" %}
</div>

<table class="data-overview">
    <thead class="main-header">
        <tr>
            <th class="name">
                Name
            </th>
            <th class="screenshots">
                Screenshot Count
            </th>
            <th class="categories">
                Categories
            </th>
            <th class="tags">
                Tags
            </th>
            <th class="key-tags">
                Keymodes
            </th>
            <th class="resolutions">
                HD|SD
            </th>
            <th class="aspect-ratio">
                Aspect Ratios
            </th>
            <th class="game-modes">
                Game Modes
            </th>
            <th class="host">
                Image Host
            </th>
        </tr>
    </thead>
    {%- for chunk in chunked_posts -%}
        <thead class="page-index">
            <tr>
                <th colspan="200">
                    Page:
                    {{ forloop.index }}
                </th>
            </tr>
        </thead>
        <tbody class="page">
            {%- for skin in chunk -%}
                <tr>
                    {% assign wrong_name = false %}
                    {% if skin.skin_collection.size == 1 %}
                        {% unless skin.skin_collection[0].name == skin.skin_name  %}
                            {% assign wrong_name = true %}
                        {% endunless %}
                    {% endif %}
                    <td class="name {% if wrong_name == true %} warning {% endif %}">
                        <a href="{{ skin.url }}">{{ skin.skin_name }}</a>
                    </td>
                    {% assign screenshot_count = 0 %}
                    {% for item in skin.skin_collection %}
                        {%- assign screenshot_count = screenshot_count | plus: item.screenshots.size -%}
                    {% endfor %}
                    <td class="screenshots{% if screenshot_count == 0 %} warning {% endif %}">
                        {{ screenshot_count }}
                    </td>
                    <td class="categories{% if skin.categories.size == 0 %} warning {% endif %}">
                        {% for cat in skin.categories %}
                            <span class="item category">{{ cat | replace: "_", " " }}</span>
                        {% endfor %}
                    </td>
                    {% assign has_mania = false %}
                    {% for mode in skin.game_modes %}
                        {% if mode == "mania" %}
                            {% assign has_mania = true %}
                        {% endif %}
                    {% endfor %}

                    {% assign key_tags = skin.tags | filter_tags: "key-mode"%}
                    {% assign non_key_tags = skin.tags | filter_tags: "non-key-mode" %}

                    <td class="tags{% if skin.tags.size == 0 %} warning {% endif %}">
                        {% for tag in non_key_tags %}
                            <span class="item tag">{{ tag | replace: "_", " " }}</span>
                        {% endfor %}
                    </td>
                    <td class="key-tags{% if has_mania and key_tags.size == 0 %} warning{% endif %}">
                        {% if has_mania == false %}
                            -
                        {% else %}
                            {% for tag in key_tags %}
                                <span class="item tag">{{ tag | replace: "_", " " }}</span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td class="resolutions{% if skin.resolutions.size == nil %} warning{% endif %}">
                        {% for res in skin.resolutions %}
                            <span class="item resolution">{{ res | upcase }}</span>
                        {% endfor %}
                    </td>
                    <td class="aspect-ratio{% if skin.ratios.size == nil %} warning {% endif %}">
                        {% for ratio in skin.ratios %}
                            <span class="item ratio">{{ ratio }}</span>
                        {% endfor %}
                    </td>
                    <td class="game-modes {% if skin.game_modes.size == 0 %} warning {% endif %}">
                        {% for mode in skin.game_modes %}
                            {%- include icons/{{ mode }}.svg -%}
                        {% endfor %}
                    </td>
                    {% assign bad_hosts = skin.skin_collection | filter_hosts %}
                    <td class="host {% if bad_hosts.size > 0 %} warning {% endif %}">
                        {% for host in bad_hosts %}
                            {{ host }}
                        {% endfor %}
                    </td>
                </tr>
            {%- endfor -%}
        </tbody>
    {%- endfor -%}
</table>