---
layout: master
title: FAQ | compendium
description: Frequently Asked Questions
highlight: faq
---

{%- comment -%}
collect staff members
{%- endcomment -%}
{%- assign staff = "" | split: "," -%}
{%- assign ex_staff = "" | split : "," -%}
{%- for author in site.authors -%}
    {%- for role in author.roles -%}
        {%- if role.id == "admin" or role.id == "helper" -%} 
            {%- assign staff = staff | push: author -%}
        {%- elsif role.id == "ex-helper" -%}
            {%- assign ex_staff = ex_staff | push: author -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{%- assign staff = staff | reverse | uniq -%}
{%- assign ex_staff = ex_staff | reverse | uniq -%}

{%- capture h_0_content -%}
    <div class="staff__members">
        {%- for member in staff -%}
            {%- include user.html user=member type="compendium" size="big" show_roles = "staff" -%}
        {%- endfor -%}
    </div>
{%- endcapture -%}

{%- capture h_1_content -%}
    <div class="staff__members">
        {%- for member in ex_staff -%}
            {%- include user.html user=member type="compendium" size="regular" show_roles = "staff" -%}
        {%- endfor -%}
    </div>
{%- endcapture -%}

<div class="article">
    {%- include faq-section.html size="big" heading="Compendium Staff" content=h_0_content -%}
    {%- include faq-section.html size="big" heading="Retired Compendium Staff" content=h_1_content -%}
    {% for faq in site.data.faq %}
        {%- include faq-section.html size=faq.size heading=faq.q content=faq.a -%}
    {% endfor %}
</div>