@import "theme";
@import "mixins";
@import "gradients";
@import "z-index";

@import "components/tags";
@import "components/skin-item";
@import "components/pagination";
@import "components/roles";
@import "components/filters";
@import "components/gallery";
@import "components/user";
@import "components/variant-input";

@import "views/bulletin";
@import "views/contest";
@import "views/data-overview";
@import "views/faq";
@import "views/form";
@import "views/gacha";
@import "views/skin-view";
@import "views/submission";
@import "views/user-view";

#main {
    display: grid;
    gap: $skin-grid-gap;
    > *:last-child {
        margin-bottom: $skin-grid-gap;
    }
}

.date {
    color: $text-colour-muted;
    font-size: 12px;
    width: max-content;
}

.ratio-16-9 {
    position: relative;
    padding-top: 56.25%;
    &__container {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
}

/**
 * shared skin grid class
 */
.skin-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $skin-grid-gap;
    position: relative;
}

#skin-grid-results:empty {
    display: none;
}

@media (max-width: 900px) {
    .skin-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .skin-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
