.banner {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: $radius;
}
.bulletin__newspost-link {
    font-size: 14px;
    color: $text-colour-muted;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 2px;
    &-label-container {
        overflow: hidden;
        width: 0;
        span {
            white-space: nowrap;
            margin-left: -100%;
            transition: ease 250ms all;
        }
    }
    svg {
        width: 20px;
        height: 20px;
    }
    &:hover {
        .bulletin__newspost-link-label-container {
            width: initial;
            span {
                margin-left: 0;
            }
        }
    }
}
