.podium {
    justify-items: center;
    align-items: flex-end;
    font-size: 24px;
    &__placement {
        font-weight: 700;
        color: $accent-blue;
        &--1st {
            font-size: 1.6em;
        }
        &--2nd {
            font-size: 1.3em;
        }
    }
}
@media (max-width: 900px) {
    .podium {
        grid-template-areas:
            "text-1     text-2"
            "image-1    image-2"
            "text-3     ."
            "image-3    .";
        &__placement {
            &--1st {
                grid-area: text-1;
            }
            &--2nd {
                grid-area: text-2;
            }
            &--3rd {
                grid-area: text-3;
            }
        }
        .skin-container:first-of-type {
            grid-area: image-1;
        }
        .skin-container:nth-of-type(2) {
            grid-area: image-2;
        }
        .skin-container:last-of-type {
            grid-area: image-3;
        }
    }
}
@media (max-width: 600px) {
    .podium {
        grid-template-areas:
            "text-1"
            "image-1"
            "text-2"
            "image-2"
            "text-3"
            "image-3";
    }
}
