.article {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $text-colour;
    --gap: 24px;
    gap: calc(var(--gap) * 2);
    h1,
    h2 {
        display: inline-block;
    }
    h1 {
        font-size: 36px;
        font-weight: 700;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    p {
        margin: 12px 0px;
    }
    > *:first-child {
        margin-top: var(--gap);
    }
    > *:last-child {
        margin-bottom: var(--gap);
    }
    .section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: calc(var(--gap) * 2);
        &.section-big {
            display: flex;
            flex-direction: column;
            gap: var(--gap);
        }
        .section-heading {
            color: $accent-blue;
            margin: 0px;
            &:after {
                content: "";
                display: block;
                height: 3px;
                width: 48px;
                background-color: $text-colour;
                margin-top: 8px;
            }
            &:target {
                color: $accent-yellow;
            }
        }
        .content {
            *:first-child {
                margin-top: 0px;
            }
            *:last-child {
                margin-bottom: 0px;
            }
            ul {
                padding-left: 0px;
                li {
                    list-style: none;
                    margin: 12px 0px;
                }
            }
        }
    }
    .staff {
        display: flex;
        flex-direction: column;
        &__title {
            color: $accent-blue;
        }
        &__members {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
        }
    }
}

@media (max-width: 900px) {
    .article {
        --gap: 16px;
        .section {
            grid-template-columns: 1fr;
        }
    }
}
