.submission {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    #form,
    #sheet {
        width: 100%;
        height: 80vh;
        border: none;
    }
    p,
    ul {
        margin: 0;
    }
}
