.user-info {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    justify-content: space-between;
    .user-stats {
        display: flex;
        align-items: center;
        gap: 6px;
        margin: 0px 16px 0px 16px;
        .icon {
            width: 20px;
            height: 20px;
        }
        .count {
            font-size: 18px;
        }
        .skin-count,
        .game-modes {
            display: flex;
            gap: 4px;
            align-items: center;

            color: $text-colour;
        }
        .game-modes {
            .icon {
                padding: 2px;
            }
        }
        .dates {
            display: flex;
            align-items: end;
            flex-direction: column;
        }
    }
}

@media (max-width: 900px) {
    .user-info {
        flex-direction: column;
        .user-stats {
            margin: 0px;
            margin-top: 8px;
            flex-wrap: wrap;
            .dates {
                order: 3;
                align-items: unset;
            }
        }
    }
}