---
layout: master
---

<script src={{ "/assets/scripts/listing.js" | timestamp }} type="text/javascript"></script>

<noscript class="noscript">
    <div class="noscript">
        <span class="notice">
            The following functions of this website will not work without javascript, if you want to use these please enable javascript.
        </span>
        <ul>
            <li>Image Galleries</li>
            <li>Search and filters</li>
            <li>Changing the displayed version on skins</li>
        </ul>
    </div>
</noscript>

{% include skin-search.html result_count = site.posts.size  order = "new-old" %}

<div class="skin-grid" id="skin-grid">
    {%- for post in paginator.posts -%}
        {%- include skin-item.html post=post -%}
    {%- endfor -%}
</div>

<div class="skin-grid" id="skin-grid-results"></div>

{%- if paginator.total_pages > 1 -%}
    <div class="pagination">
        {%- if paginator.previous_page -%}
            <a class="pagination-item prev-page" href="{{ paginator.first_page_path | remove: "index.html" }}">{%- include icons/chevron-double-left.svg -%}</a>
            <a class="pagination-item prev-page" href="{{ paginator.previous_page_path | remove: "index.html" }}">{%- include icons/chevron-left.svg -%}</a>
        {%- else -%}
            <div class="pagination-item prev-page current-page">{%- include icons/chevron-double-left.svg -%}</div>
            <div class="pagination-item prev-page current-page">{%- include icons/chevron-left.svg -%}</div>
        {%- endif -%}

        {%- if paginator.page_trail -%}
            {%- for trail in paginator.page_trail -%}
                <a {% if page.url == trail.path %} class="pagination-item current-page" {% else %} class="pagination-item" {% endif %} {% if page.url != trail.path %} href="{{ trail.path | remove: "index.html" }}" {% endif %}>{{ trail.num }}</a>
            {%- endfor -%}
        {%- endif -%}

        {%- if paginator.next_page -%}
            <a class="pagination-item next-page" href="{{ paginator.next_page_path | remove: "index.html" }}">{%- include icons/chevron-right.svg -%}</a>
            <a class="pagination-item next-page" href="{{ paginator.last_page_path | remove: "index.html" }}">{%- include icons/chevron-double-right.svg -%}</a>
        {%- else -%}
            <div class="pagination-item next-page current-page">{%- include icons/chevron-right.svg -%}</div>
            <div class="pagination-item next-page current-page">{%- include icons/chevron-double-right.svg -%}</div>
        {%- endif -%}
    </div>
{%- endif -%}