---
layout: master
---
{%- assign skin_posts = page.user_id | author_skins -%}
{%- assign standard = skin_posts | count_mode: "standard" -%}
{%- assign taiko = skin_posts | count_mode: "taiko" -%}
{%- assign catch = skin_posts | count_mode: "catch" -%}
{%- assign mania = skin_posts | count_mode: "mania" -%}

<div class="user-info">
    {%- include user.html user=page type="osu" show_roles="all" size="regular" -%}
    <div class="user-stats">
        <div class="dates">
            {%- if skin_posts.size > 0 -%}
                <span class="date">
                    Latest: {{ skin_posts[0].date | date_to_long_string: "ordinal" }}
                </span>
                {%- if skin_posts.size > 1 -%}
                    <span class="date">
                        {%- assign lastIndex = skin_posts.size | minus: 1 -%}
                        Oldest: {{ skin_posts[lastIndex].date | date_to_long_string: "ordinal" }}
                    </span>
                {%- endif -%}
            {%- endif -%}
        </div>
        <div class="skin-count">
            {%- include icons/document-solid.svg -%}
            <span class="count">{{ skin_posts.size }}</span>
        </div>
        <div class="game-modes">
            {%- if standard > 0 -%}
                {%- include icons/standard.svg -%}
                <span class="count">{{ standard }}</span>
            {%- endif -%}
            {%- if taiko > 0 -%}
                {%- include icons/taiko.svg -%}
                <span class="count">{{ taiko }}</span>
            {%- endif -%}
            {%- if mania > 0 -%}
                {%- include icons/mania.svg -%}
                <span class="count">{{ mania }}</span>
            {%- endif -%}
            {%- if catch > 0 -%}
                {%- include icons/catch.svg -%}
                <span class="count">{{ catch }}</span>
            {%- endif -%}
        </div>
    </div>
</div>
<div class="skin-grid">
    {%- for post in skin_posts -%}
        {%- include skin-item.html post=post -%}
    {%- endfor -%}
</div>