.gallery {
    &__navigation {
        --icon-size: 24px;
        --padding: 16px;

        display: flex;
        padding: var(--padding);
        position: absolute;
        top: calc(50% - var(--padding) - var(--icon-size) / 2);
        border-radius: 100%;

        cursor: pointer;
        user-select: none;
        background-color: $primary;
        box-shadow: $shadow;
        transition: ease 200ms all;
        .icon {
            height: var(--icon-size);
            width: var(--icon-size);
        }
        &:hover {
            background-color: lighten($primary, 6%);
            box-shadow: $shadow-hover;
        }
        &--prev {
            left: 16px;
        }
        &--next {
            right: 16px;
        }
    }
}
.main-gallery {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__main-preview-container {
        display: flex;
        box-shadow: $shadow;
        position: relative;
        cursor: zoom-in;
        padding-top: 56.25%;

        &:hover .gallery__navigation {
            opacity: 1;
        }
    }
    &__navigation {
        opacity: 0;
    }
    &__main-preview {
        width: 100%;
        object-fit: cover;
        border-radius: $radius;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: contain;
    }
}
.caroussel {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: inherit;
    width: 100%;
    &__item {
        display: flex;
        position: relative;
        padding-top: 56.25%;
        cursor: pointer;
        box-shadow: $shadow;
        &.active {
            .caroussel__image {
                border-color: $accent-blue;
            }
        }
        .play-button {
            $size: 40px;
            width: $size;
            height: $size;
            z-index: 2;
            position: absolute;
            // important to remove half of the size, force output as otherwise prod didnt output this
            top: calc(50% - (#{$size} / 2));
            left: calc(50% - (#{$size} / 2));
            color: rgb(200, 200, 200);
            transition: ease all 200ms;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.3));
            &--skinship {
                color: $accent-blue;
            }
        }
        &:hover {
            .play-button {
                color: rgb(245, 245, 245);
                &--skinship {
                    color: adjust-color($color: $accent-blue, $lightness: 10%);
                }
            }
        }
    }
    &__image {
        width: 100%;
        object-fit: contain;
        border-radius: $radius;
        border: 2px solid $divider;
        transition: ease 150ms all;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}
.fullscreen-gallery {
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: #070e15;
    z-index: $z-fullscreen-gallery;
    gap: 16px;
    cursor: zoom-out;
    &__main-preview-container {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;

        > * {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--yt-skinship,
        &--yt-author {
            embed {
                max-width: var(--content-width);
                height: 90%;
                width: 100%;
            }
        }
    }
    &__navigation {
        z-index: 101;
    }
}
.menubar {
    display: grid;
    grid-template-areas: ". title buttons";
    grid-template-columns: 1fr auto 1fr;
    background-color: $primary;
    align-items: center;
    width: 100%;
    min-height: 54px;
    cursor: initial;
    &__buttons-container {
        display: flex;
        grid-area: buttons;
        gap: 8px;
        margin-right: 16px;
        justify-self: end;
    }
    &__button {
        padding: 8px;
        cursor: pointer;
        display: flex;
        &:hover {
            border-radius: 4px;
            background-color: $primary-hover;
            .cross {
                color: $invalid;
            }
            .fullscreen {
                color: $accent-blue;
            }
        }
        .icon {
            --menu-button-size: 24px;
            width: var(--menu-button-size);
            height: var(--menu-button-size);
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        color: $accent-blue;
        grid-area: title;
        justify-self: center;
    }
}
