.pagination {
    display: flex;
    align-items: center;
    margin: 0px auto $skin-grid-gap;
    width: max-content;
    box-shadow: $shadow;
    transition: 200ms ease all;
    > *:first-child {
        border-radius: $radius 0px 0px $radius;
    }
    > *:last-child {
        border-radius: 0px $radius $radius 0px;
    }
    .pagination-item {
        border: 1px solid rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        min-width: 28px;
        color: $text-colour;
        background-color: $primary;
        padding: 4px;
        cursor: pointer;
        user-select: none;
        &:hover {
            filter: brightness(0.8);
        }
    }
    .current-page {
        background-color: $background;
        color: $text-colour-muted;
        cursor: not-allowed;
    }
    .icon {
        width: 20px;
        height: 20px;
    }
}
