.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    .tag {
        padding: 8px;
        background-color: $divider;
        border-radius: $radius;
        color: $text-colour;
        font-size: 12px;
        font-weight: 700;
        line-height: 12px;
        order: 10;
        cursor: pointer;
        transition: ease 250ms all;
        user-select: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.25);
        }
        &.include {
            background-color: $accent-blue;
            &:hover {
                filter: brightness(1.1);
                background-color: $accent-blue;
            }
        }
        &.exclude {
            background-color: $invalid;
            &:hover {
                filter: brightness(1.1);
                background-color: $invalid;
            }
        }
        &--prestige {
            font-weight: bold;
            &:hover {
                filter: brightness(1.3);
            }
            &-c1 {
                color: $text-colour-dark;
                background: $contest-winner;
                order: 1;
            }
            &-c2 {
                color: $text-colour-dark;
                background: $contest-second;
                order: 2;
            }
            &-c3 {
                color: $text-colour-dark;
                background: $contest-third;
                order: 3;
            }
            &-cs {
                background: $skinship-staff;
                order: 4;
            }
            &-sb {
                background: $skinners-bulletin;
                order: 5;
            }
            &-soty-1 {
                color: $text-colour-dark;
                background: $soty-winner;
                order: 6;
            }
            &-soty-2 {
                color: $text-colour-dark;
                background: $soty-second;
                order: 7;
            }
            &-soty-3 {
                color: $text-colour-dark;
                background: $soty-third;
                order: 8;
            }
            &-soty-t10 {
                color: $text-colour-dark;
                background: $soty-top10;
                order: 9;
            }
            &--key {
                order: 11;
            }
        }
    }
}
